In [10]:
import pandas as pd
import requests
import json
import time
import grequests
from config import api_key
import numpy as np

In [75]:
movies_dfs = []
for year in range(1982,2020):
    for month in range(1,12):
            if year == 2019 and month == 4:
                break
            one_df = pd.read_html(f"https://www.boxofficemojo.com/monthly/?view=releasedate&chart=&month={month}&yr={year}", header=0)[1]
            one_df = one_df.iloc[:-4]
            one_df = one_df.rename(columns={ one_df.columns[2]: "Studio", "Total Gross / Theaters": "Total Gross", 
                                        "Total Gross / Theaters.1": "TG Theaters", "Opening / Theaters" : "Opening", 
                                        "Opening / Theaters.1": "O Theaters", "Movie Title (click to view)": "Movie Title"})
            one_df["Year"] = year
            movies_dfs.append(one_df)
movie_df = pd.concat(movies_dfs,sort = True)

movie_df

,Close,Movie Title,O Theaters,Open,Opening,Rank,Studio,TG Theaters,Total Gross,Year
0,NaN,Vice Squad,510,1/22,"$1,717,205",1,Emb,510,"$13,253,583",1982
1,NaN,The Seduction,597,1/22,"$1,503,543",2,Emb,597,"$11,378,339",1982
2,NaN,Shoot the Moon,585,1/22,"$1,870,000",3,MGM,585,"$9,217,530",1982
3,NaN,The Border,84,1/29,"$516,014",4,Uni.,888,"$6,118,683",1982
4,NaN,Venom,900,1/29,"$1,672,747",5,Par.,900,"$5,229,643",1982
5,NaN,A Stranger is Watching,NaN,1/22,NaN,6,MGM,NaN,"$2,519,559",1982
6,NaN,"I, the Jury",NaN,1/9,NaN,7,Fox,NaN,"$1,515,578",1982
0,NaN,Quest for Fire,223,2/12,"$2,171,303",1,Fox,426,"$20,959,585",1982
1,NaN,Death Wish II,377,2/19,"$1,871,487",2,Film,377,"$16,100,000",1982
2,NaN,Missing,733,2/12,"$2,300,000",3,Uni.,733,"$14,000,000",1982
3,NaN,Making Love,363,2/12,"$3,015,497",4,Fox,380,"$11,897,978",1982
4,NaN,Das Boot,2,2/10,"$26,994",5,Col.,2,"$10,915,250",1982
5,NaN,Night Crossing,640,2/5,"$1,547,912",6,BV,640,"$8,000,000",1982
6,NaN,The Beast Within,550,2/12,"$1,250,000",7,MGM,550,"$7,742,572",1982
7,NaN,The Amateur,437,2/12,"$1,052,963",8,Fox,437,"$6,892,098",1982
8,NaN,Personal Best,142,2/5,"$549,878",9,WB,236,"$5,672,311",1982
9,NaN,Cannery Row,700,2/12,"$1,500,000",10,MGM,700,"$5,301,539",1982
10,NaN,Barbarosa,187,2/19,"$285,312",11,Uni.,187,"$1,736,123",1982
11,NaN,One from the Heart,41,2/12,"$389,249",12,Col.,41,"$636,796",1982
12,NaN,Love and Money,NaN,2/12,NaN,13,Par.,NaN,"$14,009",1982
0,NaN,Porky's,1148,3/19,"$7,623,988",1,Fox,1605,"$105,492,483",1982
1,NaN,Richard Pryor: Live on the Sunset Strip,1277,3/12,"$7,780,693",2,Col.,1277,"$36,299,720",1982
2,NaN,Victor/Victoria,3,3/19,"$139,634",3,MGM,615,"$28,215,453",1982
3,NaN,Deathtrap,341,3/19,"$2,238,977",4,WB,603,"$19,282,134",1982
4,NaN,Diner,21,3/5,"$218,221",5,MGM,30,"$14,099,953",1982
5,NaN,I Ought to Be in Pictures,662,3/26,"$2,170,397",6,Fox,662,"$6,968,359",1982
6,NaN,Evil Under the Sun,609,3/5,"$1,690,774",7,Uni.,609,"$6,110,000",1982
7,NaN,Weavers: Wasn't That a Time,NaN,3/3,NaN,8,MGM,NaN,"$524,203",1982
8,NaN,I'm Dancing as Fast as I Can,NaN,3/5,NaN,9,Par.,NaN,"$291,390",1982
0,NaN,The Sword and the Sorcerer,233,4/23,"$1,798,879",1,Gr1,660,"$39,103,425",1982
...,...,...,...,...,...,...,...,...,...,...
57,-,3 Faces,1,3/8,"$7,065",58,KL,7,"$63,081",2019
58,-,Ramen Shop,2,3/22,"$5,303",59,Strand,10,"$41,222",2019
59,-,Slut in a Good Way,7,3/28,"$21,567",60,ComDyn,7,"$40,513",2019
60,-,Lost & Found,6,3/29,"$12,984",61,HyperFilm,6,"$36,182",2019
61,-,Yardie,77,3/15,"$22,056",62,Rialto,77,"$36,012",2019
62,-,The Sower,2,3/1,"$4,128",63,FM,5,"$33,549",2019
63,-,An Elephant Sitting Still,1,3/8,"$10,854",64,KS,2,"$32,556",2019
64,-,He Matado a mi Marido!,11,3/1,"$18,365",65,Ham,11,"$31,409",2019
65,-,Working Woman,2,3/27,"$3,875",66,Zeit.,7,"$30,774",2019
66,-,Knife+Heart,2,3/15,"$4,728",67,AI,6,"$29,565",2019
67,-,Maze (2019),2,3/22,"$8,308",68,Lightyear,6,"$27,555",2019
68,3/7,The Hole in the Ground,NaN,3/1,NaN,69,A24,24,"$21,072",2019
69,-,Out of Blue,35,3/22,"$11,719",70,IFC,35,"$18,779",2019
70,-,Joseph Pulitzer: Voice of the People,1,3/1,"$5,686",71,FRun,5,"$16,970",2019
71,-,Buddy (2019),NaN,3/20,NaN,72,Ghop,3,"$16,080",2019
72,-,Black Mother,NaN,3/9,NaN,73,Ghop,4,"$16,003",2019
73,-,Virginia Minnesota,2,3/1,"$3,844",74,Indic.,2,"$15,482",2019
74,-,Combat Obscura,10,3/15,"$10,112",75,Osci.,11,"$14,242",2019
75,-,Screwball,13,3/29,"$8,595",76,Greenwich,13,"$13,576",2019
76,-,Ferrante Fever,1,3/8,"$3,509",77,Greenwich,3,"$11,069",2019
77,-,Off Season,2,3/15,"$2,536",78,Indic.,2,"$11,005",2019
78,-,The Eyes of Orson Welles,1,3/15,"$2,372",79,Jan.,2,"$10,253",2019
79,-,Zen for Nothing,2,3/29,"$1,268",80,Zeit.,4,"$9,756",2019
80,-,Starfish,NaN,3/15,NaN,81,Yellow Veil,6,"$8,147",2019
81,-,This Magnificent Cake!,1,3/1,$991,82,GK,2,"$7,888",2019
82,-,Chokehold,3,3/1,"$5,200",83,Ammo,3,"$5,200",2019
83,-,Relaxer,NaN,3/29,NaN,84,Osci.,5,"$4,723",2019
84,-,"Frantz Fanon: Black Skin, White Mask",1,3/15,"$3,278",85,FM,1,"$4,159",2019
85,-,Iceman (2019),7,3/15,"$1,372",86,FM,7,"$2,138",2019
86,-,The Hours and Times (2019 re-release),1,3/1,"$1,273",87,Osci.,1,"$1,273",2019

In [ ]:
movie_df.to_csv("Movie_Data_Initial.csv")

In [76]:
movie_df["Movie Title"] = movie_df["Movie Title"].str.replace(r"\(.*\)","")

movie_df["Title"] = ""
movie_df["Rated"] = ""
movie_df["Released"] = ""
movie_df["Runtime"] = ""
movie_df["Genre"] = ""
movie_df["Director"] = ""
movie_df["Writer"] = ""
movie_df["Actors"] = ""
movie_df["Plot"] = ""
movie_df["Language"] = ""
movie_df["Country"] = ""
movie_df["Awards"] = ""
movie_df["Poster"] = ""
movie_df["Ratings"] = ""
movie_df["Metascore"] = ""
movie_df["imdbRating"] = ""
movie_df["imdbVotes"] = ""
movie_df["imdbID"] = ""
movie_df["DVD"] = ""
movie_df["BoxOffice"] = ""
movie_df["Production"] = ""
movie_df["Website"] = ""

movie_df = movie_df.reset_index(drop=True)
movie_df

,Close,Movie Title,O Theaters,Open,Opening,Rank,Studio,TG Theaters,Total Gross,Year,Title,Rated,Released,Runtime,Genre,Director,Writer,Actors,Plot,Language,Country,Awards,Poster,Ratings,Metascore,imdbRating,imdbVotes,imdbID,DVD,BoxOffice,Production,Website
0,NaN,Vice Squad,510,1/22,"$1,717,205",1,Emb,510,"$13,253,583",1982,,,,,,,,,,,,,,,,,,,,,,
1,NaN,The Seduction,597,1/22,"$1,503,543",2,Emb,597,"$11,378,339",1982,,,,,,,,,,,,,,,,,,,,,,
2,NaN,Shoot the Moon,585,1/22,"$1,870,000",3,MGM,585,"$9,217,530",1982,,,,,,,,,,,,,,,,,,,,,,
3,NaN,The Border,84,1/29,"$516,014",4,Uni.,888,"$6,118,683",1982,,,,,,,,,,,,,,,,,,,,,,
4,NaN,Venom,900,1/29,"$1,672,747",5,Par.,900,"$5,229,643",1982,,,,,,,,,,,,,,,,,,,,,,
5,NaN,A Stranger is Watching,NaN,1/22,NaN,6,MGM,NaN,"$2,519,559",1982,,,,,,,,,,,,,,,,,,,,,,
6,NaN,"I, the Jury",NaN,1/9,NaN,7,Fox,NaN,"$1,515,578",1982,,,,,,,,,,,,,,,,,,,,,,
7,NaN,Quest for Fire,223,2/12,"$2,171,303",1,Fox,426,"$20,959,585",1982,,,,,,,,,,,,,,,,,,,,,,
8,NaN,Death Wish II,377,2/19,"$1,871,487",2,Film,377,"$16,100,000",1982,,,,,,,,,,,,,,,,,,,,,,
9,NaN,Missing,733,2/12,"$2,300,000",3,Uni.,733,"$14,000,000",1982,,,,,,,,,,,,,,,,,,,,,,
10,NaN,Making Love,363,2/12,"$3,015,497",4,Fox,380,"$11,897,978",1982,,,,,,,,,,,,,,,,,,,,,,
11,NaN,Das Boot,2,2/10,"$26,994",5,Col.,2,"$10,915,250",1982,,,,,,,,,,,,,,,,,,,,,,
12,NaN,Night Crossing,640,2/5,"$1,547,912",6,BV,640,"$8,000,000",1982,,,,,,,,,,,,,,,,,,,,,,
13,NaN,The Beast Within,550,2/12,"$1,250,000",7,MGM,550,"$7,742,572",1982,,,,,,,,,,,,,,,,,,,,,,
14,NaN,The Amateur,437,2/12,"$1,052,963",8,Fox,437,"$6,892,098",1982,,,,,,,,,,,,,,,,,,,,,,
15,NaN,Personal Best,142,2/5,"$549,878",9,WB,236,"$5,672,311",1982,,,,,,,,,,,,,,,,,,,,,,
16,NaN,Cannery Row,700,2/12,"$1,500,000",10,MGM,700,"$5,301,539",1982,,,,,,,,,,,,,,,,,,,,,,
17,NaN,Barbarosa,187,2/19,"$285,312",11,Uni.,187,"$1,736,123",1982,,,,,,,,,,,,,,,,,,,,,,
18,NaN,One from the Heart,41,2/12,"$389,249",12,Col.,41,"$636,796",1982,,,,,,,,,,,,,,,,,,,,,,
19,NaN,Love and Money,NaN,2/12,NaN,13,Par.,NaN,"$14,009",1982,,,,,,,,,,,,,,,,,,,,,,
20,NaN,Porky's,1148,3/19,"$7,623,988",1,Fox,1605,"$105,492,483",1982,,,,,,,,,,,,,,,,,,,,,,
21,NaN,Richard Pryor: Live on the Sunset Strip,1277,3/12,"$7,780,693",2,Col.,1277,"$36,299,720",1982,,,,,,,,,,,,,,,,,,,,,,
22,NaN,Victor/Victoria,3,3/19,"$139,634",3,MGM,615,"$28,215,453",1982,,,,,,,,,,,,,,,,,,,,,,
23,NaN,Deathtrap,341,3/19,"$2,238,977",4,WB,603,"$19,282,134",1982,,,,,,,,,,,,,,,,,,,,,,
24,NaN,Diner,21,3/5,"$218,221",5,MGM,30,"$14,099,953",1982,,,,,,,,,,,,,,,,,,,,,,
25,NaN,I Ought to Be in Pictures,662,3/26,"$2,170,397",6,Fox,662,"$6,968,359",1982,,,,,,,,,,,,,,,,,,,,,,
26,NaN,Evil Under the Sun,609,3/5,"$1,690,774",7,Uni.,609,"$6,110,000",1982,,,,,,,,,,,,,,,,,,,,,,
27,NaN,Weavers: Wasn't That a Time,NaN,3/3,NaN,8,MGM,NaN,"$524,203",1982,,,,,,,,,,,,,,,,,,,,,,
28,NaN,I'm Dancing as Fast as I Can,NaN,3/5,NaN,9,Par.,NaN,"$291,390",1982,,,,,,,,,,,,,,,,,,,,,,
29,NaN,The Sword and the Sorcerer,233,4/23,"$1,798,879",1,Gr1,660,"$39,103,425",1982,,,,,,,,,,,,,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14764,-,3 Faces,1,3/8,"$7,065",58,KL,7,"$63,081",2019,,,,,,,,,,,,,,,,,,,,,,
14765,-,Ramen Shop,2,3/22,"$5,303",59,Strand,10,"$41,222",2019,,,,,,,,,,,,,,,,,,,,,,
14766,-,Slut in a Good Way,7,3/28,"$21,567",60,ComDyn,7,"$40,513",2019,,,,,,,,,,,,,,,,,,,,,,
14767,-,Lost & Found,6,3/29,"$12,984",61,HyperFilm,6,"$36,182",2019,,,,,,,,,,,,,,,,,,,,,,
14768,-,Yardie,77,3/15,"$22,056",62,Rialto,77,"$36,012",2019,,,,,,,,,,,,,,,,,,,,,,
14769,-,The Sower,2,3/1,"$4,128",63,FM,5,"$33,549",2019,,,,,,,,,,,,,,,,,,,,,,
14770,-,An Elephant Sitting Still,1,3/8,"$10,854",64,KS,2,"$32,556",2019,,,,,,,,,,,,,,,,,,,,,,
14771,-,He Matado a mi Marido!,11,3/1,"$18,365",65,Ham,11,"$31,409",2019,,,,,,,,,,,,,,,,,,,,,,
14772,-,Working Woman,2,3/27,"$3,875",66,Zeit.,7,"$30,774",2019,,,,,,,,,,,,,,,,,,,,,,
14773,-,Knife+Heart,2,3/15,"$4,728",67,AI,6,"$29,565",2019,,,,,,,,,,,,,,,,,,,,,,
14774,-,Maze,2,3/22,"$8,308",68,Lightyear,6,"$27,555",2019,,,,,,,,,,,,,,,,,,,,,,
14775,3/7,The Hole in the Ground,NaN,3/1,NaN,69,A24,24,"$21,072",2019,,,,,,,,,,,,,,,,,,,,,,
14776,-,Out of Blue,35,3/22,"$11,719",70,IFC,35,"$18,779",2019,,,,,,,,,,,,,,,,,,,,,,
14777,-,Joseph Pulitzer: Voice of the People,1,3/1,"$5,686",71,FRun,5,"$16,970",2019,,,,,,,,,,,,,,,,,,,,,,
14778,-,Buddy,NaN,3/20,NaN,72,Ghop,3,"$16,080",2019,,,,,,,,,,,,,,,,,,,,,,
14779,-,Black Mother,NaN,3/9,NaN,73,Ghop,4,"$16,003",2019,,,,,,,,,,,,,,,,,,,,,,
14780,-,Virginia Minnesota,2,3/1,"$3,844",74,Indic.,2,"$15,482",2019,,,,,,,,,,,,,,,,,,,,,,
14781,-,Combat Obscura,10,3/15,"$10,112",75,Osci.,11,"$14,242",2019,,,,,,,,,,,,,,,,,,,,,,
14782,-,Screwball,13,3/29,"$8,595",76,Greenwich,13,"$13,576",2019,,,,,,,,,,,,,,,,,,,,,,
14783,-,Ferrante Fever,1,3/8,"$3,509",77,Greenwich,3,"$11,069",2019,,,,,,,,,,,,,,,,,,,,,,
14784,-,Off Season,2,3/15,"$2,536",78,Indic.,2,"$11,005",2019,,,,,,,,,,,,,,,,,,,,,,
14785,-,The Eyes of Orson Welles,1,3/15,"$2,372",79,Jan.,2,"$10,253",2019,,,,,,,,,,,,,,,,,,,,,,
14786,-,Zen for Nothing,2,3/29,"$1,268",80,Zeit.,4,"$9,756",2019,,,,,,,,,,,,,,,,,,,,,,
14787,-,Starfish,NaN,3/15,NaN,81,Yellow Veil,6,"$8,147",2019,,,,,,,,,,,,,,,,,,,,,,
14788,-,This Magnificent Cake!,1,3/1,$991,82,GK,2,"$7,888",2019,,,,,,,,,,,,,,,,,,,,,,
14789,-,Chokehold,3,3/1,"$5,200",83,Ammo,3,"$5,200",2019,,,,,,,,,,,,,,,,,,,,,,
14790,-,Relaxer,NaN,3/29,NaN,84,Osci.,5,"$4,723",2019,,,,,,,,,,,,,,,,,,,,,,
14791,-,"Frantz Fanon: Black Skin, White Mask",1,3/15,"$3,278",85,FM,1,"$4,159",2019,,,,,,,,,,,,,,,,,,,,,,
14792,-,Iceman,7,3/15,"$1,372",86,FM,7,"$2,138",2019,,,,,,,,,,,,,,,,,,,,,,
14793,-,The Hours and Times,1,3/1,"$1,273",87,Osci.,1,"$1,273",2019,,,,,,,,,,,,,,,,,,,,,,

In [ ]:
dups = pd.concat(g for _, g in movie_df.groupby("Movie Title") if len(g) > 1)
movie_df
dups

In [93]:
# pd.set_option('display.max_columns', None) 
def appendData(reqs):
    for index, row in enumerate(movie_df[9743:].itertuples()):
            try:
                item = reqs[index].json()
                movie_df.at[row.Index, "Title"] = item['Title'] 
                movie_df.at[row.Index, "Rated"] = item['Rated'] 
                movie_df.at[row.Index, "Released"] = item['Released'] 
                movie_df.at[row.Index, "Runtime"] = item['Runtime'] 
                movie_df.at[row.Index, "Genre"] = item['Genre'] 
                movie_df.at[row.Index, "Director"] = item['Director'] 
                movie_df.at[row.Index, "Writer"] = item['Writer'] 
                movie_df.at[row.Index, "Actors"] = item['Actors'] 
                movie_df.at[row.Index, "Plot"] = item['Plot'] 
                movie_df.at[row.Index, "Language"] = item['Language'] 
                movie_df.at[row.Index, "Country"] = item['Country'] 
                movie_df.at[row.Index, "Awards"] = item['Awards'] 
                movie_df.at[row.Index, "Poster"] = item['Poster'] 
                movie_df.at[row.Index, "Ratings"] = item['Ratings'] 
                movie_df.at[row.Index, "Metascore"] = item['Metascore'] 
                movie_df.at[row.Index, "imdbRating"] = item['imdbRating'] 
                movie_df.at[row.Index, "imdbVotes"] = item['imdbVotes'] 
                movie_df.at[row.Index, "imdbID"] = item['imdbID'] 
                movie_df.at[row.Index, "DVD"] = item['DVD'] 
                movie_df.at[row.Index, "BoxOffice"] = item['BoxOffice'] 
                movie_df.at[row.Index, "Production"] = item['Production'] 
                movie_df.at[row.Index, "Website"] = item['Website'] 

            except: 
                print("Record not found")

In [94]:
def exception_handler(request, exception):
    print("Request failed")

urls = ["http://www.omdbapi.com/?t={0}+&plot=full&apikey={1}".format(row[2].replace(" ", "+"), api_key) for row in movie_df[9743:].itertuples()]
rs = (grequests.get(u) for u in urls)
requests = grequests.map(rs, exception_handler=exception_handler, size=10)
appendData(requests)
pd.set_option('display.max_columns', None) 
movie_df.iloc[4750:4800]

Request failed
Request failed
Request failed
Request failed
Request failed
Request failed
Request failed
Request failed
Request failed
Request failed
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found
Record not found

,Close,Movie Title,O Theaters,Open,Opening,Rank,Studio,TG Theaters,Total Gross,Year,Title,Rated,Released,Runtime,Genre,Director,Writer,Actors,Plot,Language,Country,Awards,Poster,Ratings,Metascore,imdbRating,imdbVotes,imdbID,DVD,BoxOffice,Production,Website
4750,5/30,Jason X,1878,4/26,"$6,649,006",10,NL,1879,"$13,121,555",2002,Jason X,R,26 Apr 2002,91 min,"Action, Horror, Sci-Fi, Thriller",James Isaac,"Victor Miller (characters), Todd Farmer","Kane Hodder, Jeff Geddis, Lexa Doig, David Cro...","Set way in the future, Earth is no longer inha...",English,"USA, Canada",1 nomination.,https://m.media-amazon.com/images/M/MV5BYzc0MD...,"[{'Source': 'Internet Movie Database', 'Value'...",25,4.4,"46,024",tt0211443,01 Jun 2004,"$12,610,731",New Line Cinema,http://www.jasonx.com
4751,6/13,Frailty,1497,4/12,"$4,208,655",11,Lions,1497,"$13,110,448",2002,Frailty,R,12 Apr 2002,100 min,"Crime, Drama, Thriller",Bill Paxton,Brent Hanley,"Bill Paxton, Matthew McConaughey, Powers Booth...",FBI agent Wesley Doyle is startled by the spon...,English,"USA, Germany",5 wins & 16 nominations.,https://m.media-amazon.com/images/M/MV5BMTIxNT...,"[{'Source': 'Internet Movie Database', 'Value'...",64,7.3,"70,720",tt0264616,17 Sep 2002,"$13,076,378",Lions Gate Films,http://www.frailtythefilm.com
4752,6/20,Big Trouble,1961,4/5,"$3,545,204",12,BV,1961,"$7,267,307",2002,Big Trouble,PG-13,05 Apr 2002,85 min,"Comedy, Crime, Thriller",Barry Sonnenfeld,"Dave Barry (novel), Robert Ramsey (screenplay)...","Tim Allen, Rene Russo, Stanley Tucci, Tom Size...",A chain of events starts with the arrival of a...,English,USA,N/A,https://m.media-amazon.com/images/M/MV5BMGExOT...,"[{'Source': 'Internet Movie Database', 'Value'...",47,6.5,"18,974",tt0246464,08 Oct 2002,N/A,Touchstone Pictures,http://bventertainment.go.com/movies/bigtrouble
4753,11/28,Enigma,25,4/19,"$156,587",13,Manh,115,"$4,301,582",2002,Enigma,R,07 Jun 2002,119 min,"Drama, Mystery, Romance, Thriller, War",Michael Apted,"Robert Harris (novel), Tom Stoppard (screenplay)","Dougray Scott, Kate Winslet, Saffron Burrows, ...","During the heart of World War II, in March of ...","English, German","UK, USA, Germany, Netherlands",3 wins & 6 nominations.,https://m.media-amazon.com/images/M/MV5BNTI5OD...,"[{'Source': 'Internet Movie Database', 'Value'...",64,6.4,"19,163",tt0157583,24 Sep 2002,N/A,Manhattan Pictures Internation,http://www.enigmathefilm.com
4754,1/30,The Fast Runner,35,4/12,"$62,810",14,Lot47,57,"$3,789,952",2002,Atanarjuat: The Fast Runner,R,26 Jul 2002,172 min,Drama,Zacharias Kunuk,"Paul Apak Angilirq, Norman Cohn (additional wr...","Natar Ungalaaq, Sylvia Ivalu, Peter-Henry Arna...","Centuries ago, in what would become the Canadi...",Inuktitut,Canada,26 wins & 18 nominations.,https://m.media-amazon.com/images/M/MV5BNmIwMj...,"[{'Source': 'Internet Movie Database', 'Value'...",91,7.5,"6,010",tt0285441,11 Feb 2003,"$2,603,453",Lot 47 Films,http://lot47.com/thefastrunner
4755,6/20,The Cat's Meow,11,4/12,"$111,037",15,Lions,153,"$3,209,481",2002,The Cat's Meow,PG-13,03 May 2002,114 min,"Drama, Romance",Peter Bogdanovich,"Steven Peros (screenplay), Steven Peros (play)","Kirsten Dunst, Edward Herrmann, Eddie Izzard, ...","In November of 1924, a mysterious Hollywood de...",English,"UK, Germany, Canada, USA",1 win & 1 nomination.,https://m.media-amazon.com/images/M/MV5BZDc5YW...,"[{'Source': 'Internet Movie Database', 'Value'...",63,6.4,"7,292",tt0266391,20 Aug 2002,"$3,176,936",Lions Gate Films Releasing,http://www.catsmeowthefilm.com
4756,7/18,Joshua,43,4/19,"$30,910",16,Art.,43,"$1,461,635",2002,Joshua,R,13 Jul 2007,106 min,"Drama, Horror, Thriller",George Ratliff,"David Gilbert, George Ratliff","Sam Rockwell, Vera Farmiga, Celia Weston, Dall...",The Cairn's life seems to be a harmonic family...,English,USA,5 wins & 6 nominations.,https://m.media-amazon.com/images/M/MV5BMjE5NT...,"[{'Source': 'Internet Movie Database', 'Value'...",69,5.9,"11,307",tt0808331,28 Feb 2006,"$442,201",Fox Searchlight Pictures,http://www.foxsearchlight.com/joshua
4757,8/15,Dogtown and Z-Boys,20,4/26,"$103,355",17,SPC,70,"$1,300,682",2002,Dogtown and Z-Boys,PG-13,10 May 2002,91 min,"Documentary, Sport",Stacy Peralta,"Stacy Peralta, Craig Stecyk","Sean Penn, Jay Adams, Tony Alva, Jeff Ament","Sub-titled ""The Birth of Extreme"", this docume...",English,USA,7 wins & 6 nominations.,https://m.media-amazon.com/images/M/MV5BMTM4NT...,"[{'Source': 'Internet Movie Database', 'Value'...",76,7.7,"11,383",tt0275309,06 Aug 2002,"$1,187,606",Sony Pictures Classics,http://www.sonyclassics.com/dogtown
4758,10/10,Nine Queens,5,4/19,"$40,724",18,SPC,36,"$1,222,889",2002,Nine Queens,R,31 Aug 2000,114 min,"Crime, Drama, Thriller",FabiÃ¡n Bielinsky,FabiÃ¡n Bielinsky,"Ricardo DarÃ­n, GastÃ³n Pauls, Leticia BrÃ©dice, ...","Early one morning, Marcos observes Juan succes...",Spanish,Argentina,22 wins & 8 nominations.,https://m.media-amazon.com/images/M/MV5BMTYxMD...,"[{'Source': 'Internet Movie Database', 'Value'...",80,7.9,"45,313",tt0247586,01 Oct 2002,"$1,078,919",Sony Pictures Classics,http://www.magiclanternpr.com/films/Nine_Queen...
4759,7/18,Crush,10,4/5,"$46,469",19,SPC,117,"$1,084,935",2002,Crush,PG-13,13 Mar 2013,94 min,"Horror, Thriller",Malik Bader,Sonny Mallhi,"Ashleigh Craig, Cody Hamilton, Lucas Till, Cry...",The promising high school soccer player Scott ...,English,USA,N/A,https://m.media-amazon.com/images/M/MV5BODQ2ZG...,"[{'Source': 'Internet Movie Database', 'Value'...",N/A,5.7,"4,916",tt2093977,09 Apr 2013,N/A,Paris Filmes,N/A
4760,6/13,Savage Messiah,58,4/26,"$169,675",20,Chri.,58,"$1,015,671",2002,Savage Messiah,R,01 Oct 1972,97 min,"Biography, Drama",Ken Russell,"Christopher Logue (screenplay), H.S. Ede (book)","Dorothy Tutin, Scott Antony, Helen Mirren, Lin...",Biographical film of the life of French sculpt...,English,UK,N/A,https://m.media-amazon.com/images/M/MV5BNmY1ND...,"[{'Source': 'Internet Movie Database', 'Value'...",N/A,7.2,"1,150",tt0069225,23 Feb 1994,N/A,N/A,N/A
4761,7/18,The Salton Sea,15,4/26,"$166,309",21,WB,30,"$764,554",2002,The Salton Sea,R,21 Jun 2002,103 min,"Crime, Drama, Mystery, Thriller",D.J. Caruso,Tony Gayton,"Val Kilmer, Vincent D'Onofrio, Adam Goldberg, ...","After the murder of his beloved wife, Danny Pa...",English,USA,1 win.,https://m.media-amazon.com/images/M/MV5BZWM0Zj...,"[{'Source': 'Internet Movie Database', 'Value'...",41,7.1,"28,466",tt0235737,10 Sep 2002,"$626,750",Warner Bros.,http://www.saltonseamovie.com
4762,5/9,Human Nature,224,4/12,"$297,340",22,FL,224,"$705,308",2002,Human Nature,R,12 Sep 2001,96 min,"Comedy, Drama",Michel Gondry,Charlie Kaufman,"Patricia Arquette, Rhys Ifans, Tim Robbins, Ke...","A philosophical burlesque, Human Nature follow...","English, French","France, USA",2 wins & 2 nominations.,https://m.media-amazon.com/images/M/MV5BM2FiNz...,"[{'Source': 'Internet Movie Database', 'Value'...",56,6.4,"16,606",tt0219822,10 Dec 2002,"$651,165",Fine Line Features,http://www.humannaturemovie.com
4763,9/26,Rain,1,4/26,"$15,222",23,IDP,17,"$455,164",2002,Rain,Passed,12 Oct 1932,94 min,Drama,Lewis Milestone,"John Colton (play), Clemence Randolph (play), ...","Joan Crawford, Walter Huston, Fred Howard, Ben...",For residents on the idyllic South Seas island...,English,USA,N/A,https://m.media-amazon.com/images/M/MV5BMTg1OD...,"[{'Source': 'Internet Movie Database', 'Value'...",N/A,6.9,"2,124",tt0023369,27 Sep 1999,N/A,United Artists,N/A
4764,9/12,The Triumph of Love,18,4/17,"$60,507",24,ParC,51,"$447,267",2002,The Triumph of Love,PG-13,10 May 2002,112 min,"Comedy, Romance",Clare Peploe,"Marivaux (play), Clare Peploe, Marilyn Goldin,...","Mira Sorvino, Rachael Stirling, Ben Kingsley, ...",In an unidentified country in 18th century Eur...,"English, French","Italy, UK, Germany",4 nominations.,https://images-na.ssl-images-amazon.com/images...,"[{'Source': 'Internet Movie Database', 'Value'...",58,6.0,"1,355",tt0253840,29 Oct 2002,"$345,851",Paramount Classics,http://www.paramountclassics.com/triumphoflove...
4765,-,Amadeus,18,4/5,"$86,764",25,WB,18,"$408,749",2002,Amadeus,R,19 Sep 1984,160 min,"Biography, Drama, History, Music",Milos Forman,"Peter Shaffer (original stage play), Peter Sha...","F. Murray Abraham, Tom Hulce, Elizabeth Berrid...",Antonio Salieri believes that Wolfgang Amadeus...,"English, Italian, Latin, German","USA, France, Czechoslovakia",Won 8 Oscars. Another 33 wins & 14 nominations.,https://m.media-amazon.com/images/M/MV5BNWJlNz...,"[{'Source': 'Internet Movie Database', 'Value'...",93,8.3,"333,130",tt0086879,16 Dec 1997,N/A,Warner Bros. Pictures,https://www.warnerbros.com/amadeus
4766,5/30,The Last Waltz,1,4/5,"$16,151",26,MGM,15,"$322,313",2002,The Last Waltz,PG,26 Apr 1978,117 min,"Documentary, Music",Martin Scorsese,Mardik Martin (treatment),"The Band, Rick Danko, Levon Helm, Garth Hudson","Thanksgiving, 1976, San Francisco's Winterland...","English, Middle English",USA,2 wins & 3 nominations.,https://m.media-amazon.com/images/M/MV5BODk2N2...,"[{'Source': 'Internet Movie Database', 'Value'...",88,8.2,"14,511",tt0077838,07 May 2002,N/A,MGM,N/A
4767,8/25,Circuit,3,4/26,"$34,751",27,Jour,7,"$235,087",2002,Circuit,R,08 May 2002,130 min,"Drama, Romance",Dirk Shafer,"Gregory Hinton, Dirk Shafer","Jonathan Wade-Drahos, Andre Khabbazi, Brian La...",John (Jonathan Wade-Drahos) finds himself rega...,English,USA,1 win & 1 nomination.,https://images-na.ssl-images-amazon.com/images...,"[{'Source': 'Internet Movie Database', 'Value'...",36,5.2,"1,003",tt0218107,10 Dec 2002,N/A,Swift Distribution,http://www.circuitmovie.com
4768,9/26,Swimming,1,4/5,"$3,623",28,Ocean,7,"$234,287",2002,Swimming,R,09 Mar 2000,90 min,Drama,Robert J. Siegel,"Lisa Bazadona, Robert J. Siegel, Grace Woodard","Lauren Ambrose, Jennifer Dundas, Joelle Carter...","Two girl friends in Myrtle Beach, South Caroli...",English,USA,2 wins & 2 nominations.,https://m.media-amazon.com/images/M/MV5BMTgxNz...,"[{'Source': 'Internet Movie Database', 'Value'...",71,6.4,884,tt0202711,03 Jun 2003,N/A,Oceanside Pictures,http://www.swimmingthemovie.com
4769,12/26,Les Destinees,4,4/5,"$12,463",29,Wells,5,"$230,900",2002,Les destinÃ©es,N/A,12 Jul 2000,180 min,"Drama, Romance",Olivier Assayas,"Olivier Assayas, Jacques Chardonne (novel), Ja...","Emmanuelle BÃ©art, Charles Berling, Isabelle Hu...","In late nineteenth century Charante, Protestan...",French,"France, Switzerland",4 wins & 6 nominations.,https://m.media-amazon.com/images/M/MV5BMTI2ND...,"[{'Source': 'Internet Movie Database', 'Value'...",73,6.8,"1,052",tt0216689,22 Oct 2002,N/A,Wellspring,http://www.lesdestinees.com
4770,11/24,Murderous Maids,2,4/19,"$19,992",30,Rialto,5,"$225,390",2002,Murderous Maids,N/A,22 Nov 2000,94 min,"Biography, Crime, Drama",Jean-Pierre Denis,"Jean-Pierre Denis, Paulette Houdyer (novel), M...","Sylvie Testud, Julie-Marie Parmentier, Isabell...","On February 2nd 1933, in the town of Le Mans, ...",French,France,4 wins & 4 nominations.,https://images-na.ssl-images-amazon.com/images...,"[{'Source': 'Internet Movie Database', 'Value'...",78,7.0,"1,082",tt0216578,23 Sep 2003,N/A,Rialto Pictures,http://www.rialtopictures.com/maids.html
4771,6/27,American Chai,5,4/5,"$23,230",31,Magic,5,"$127,518",2002,American Chai,R,25 Jan 2001,92 min,"Comedy, Drama",Anurag Mehta,Anurag Mehta,"Aalok Mehta, Sheetal Sheth, Aasif Mandvi, Josh...",Sureel is a first generation Indian American c...,English,USA,1 win & 1 nomination.,https://images-na.ssl-images-amazon.com/images...,"[{'Source': 'Internet Movie Database', 'Value'...",46,6.3,301,tt0264355,N/A,N/A,Wildcard Releasing,http://www.americanchai.com
4772,3/20,The Komediant,2,4/5,"$4,075",32,NYer,2,"$119,506",2002,The Komediant,N/A,27 Apr 2000,80 min,Documentary,Arnon Goldfinger,Oshra Schwartz,"Pesach Burstein, Lillian Lux, Mike Burstyn, Su...",A documentary on the life and career of Yiddis...,"Hebrew, English, Yiddish",Israel,3 wins.,https://m.media-amazon.com/images/M/MV5BNzUxNT...,"[{'Source': 'Internet Movie Database', 'Value'...",63,8.0,142,tt0213569,24 Aug 2004,N/A,New Yorker Films,http://www.thekomediant.com
4773,-,World Traveler,6,4/19,"$16,072",33,Think,19,"$103,863",2002,World Traveler,R,17 Jan 2002,103 min,Drama,Bart Freundlich,Bart Freundlich,"Billy Crudup, Francie Swift, Nicolas Suresky, ...","On the day of his son's third birthday, withou...",English,"Canada, USA",N/A,https://m.media-amazon.com/images/M/MV5BMTU3Nz...,"[{'Source': 'Internet Movie Database', 'Value'...",39,5.4,"1,047",tt0262911,21 Jan 2003,N/A,ThinkFilm,N/A
4774,11/21,Sade,2,4/26,"$16,782",34,Emp.,2,"$100,544",2002,Sade,N/A,23 Aug 2000,100 min,"Biography, Crime, Drama",BenoÃ®t Jacquot,"Serge Bramly (novel), Jacques Fieschi, Bernard...","Daniel Auteuil, Marianne Denicourt, Jeanne Bal...",Many noble families are locked in a chateau du...,French,France,2 wins & 2 nominations.,https://m.media-amazon.com/images/M/MV5BMjEwNz...,"[{'Source': 'Internet Movie Database', 'Value'...",63,6.2,"1,588",tt0217019,09 Dec 2003,N/A,Empire Pictures,N/A
4775,-,The Earth Will Swallow You,5,4/12,"$16,117",35,Hans.,5,"$75,204",2002,Widespread Panic: The Earth Will Swallow You,N/A,N/A,104 min,"Music, War",Christopher Hanson,N/A,"John Bell, David Blackmon, Eric Carter, Vic Ch...",Documentary centered around Athens GA rock & r...,English,USA,N/A,http://ia.media-imdb.com/images/M/MV5BMTk2MzAx...,[],N/A,N/A,N/A,tt1736672,05 Nov 2002,N/A,N/A,N/A
4776,11/21,Girls Can't Swim,1,4/19,"$5,238",36,Wells,2,"$69,250",2002,Girls Can't Swim,UNRATED,18 Oct 2000,102 min,"Comedy, Drama",Anne-Sophie Birot,"Anne-Sophie Birot, Christophe HonorÃ©","Isild Le Besco, Karen Alyx, Pascale BussiÃ¨res,...",Gwen is a teenager living in a small coastal t...,French,France,4 wins.,https://m.media-amazon.com/images/M/MV5BMTk3MD...,"[{'Source': 'Internet Movie Database', 'Value'...",68,5.9,551,tt0239507,24 Sep 2002,N/A,Winstar,http://www.girls-cant-swim.com
4777,5/2,Spooky House,28,4/19,"$22,677",37,Ent.H,28,"$65,238",2002,Spooky House,PG,24 Apr 2004,106 min,"Comedy, Family",William Sachs,"Margaret Sachs, William Sachs","Ben Kingsley, Mercedes Ruehl, Matt Weinberg, J...",Mysterious reclusive magician the Great Zambon...,English,USA,2 wins.,https://m.media-amazon.com/images/M/MV5BMjAzMj...,"[{'Source': 'Internet Movie Database', 'Value'...",N/A,5.5,361,tt0160905,07 Oct 2003,N/A,Entertainment Highway Inc.,N/A
4778,6/20,Chelsea Walls,3,4/19,"$10,003",38,Lions,6,"$60,902",2002,Chelsea Walls,R,26 Jul 2002,109 min,Drama,Ethan Hawke,"Nicole Burdette (play), Nicole Burdette, Arthu...","Bianca Hunter, Kevin Corrigan, Rosario Dawson,...","In New York's storied Chelsea Hotel, a novelis...",English,USA,3 nominations.,https://images-na.ssl-images-amazon.com/images...,"[{'Source': 'Internet Movie Database', 'Value'...",34,5.1,"1,839",tt0226935,06 Aug 2002,N/A,Lions Gate Films,http://www.chelseawallsthefilm.com
4779,-,Lucky Break,6,4/5,"$7,495",39,Par.,13,"$54,606",2002,Lucky Break,PG-13,19 Apr 2002,108 min,"Comedy, Crime, Romance",Peter Cattaneo,"Ronan Bennett (screenplay), Stephen Fry (book)","James Nesbitt, Olivia Williams, Timothy Spall,...",Half-way through his 12-year prison sentence f...,English,"UK, Germany",4 nominations.,https://images-na.ssl-images-amazon.com/images...,"[{'Source': 'Internet Movie Database', 'Value'...",48,6.2,"1,970",tt0246134,22 Oct 2002,N/A,Paramount Pictures,http://www.luckybreakmovie.com
4780,-,New Best Friend,100,4/12,"$28,658",40,Sony,100,"$46,375",2002,New Best Friend,R,12 Apr 2002,91 min,"Drama, Mystery, Thriller",Zoe Clarke-Williams,Victoria Strouse,"Mia Kirshner, Meredith Monroe, Dominique Swain...","At fancy, private Colby University, in the Nor...",English,USA,N/A,https://m.media-amazon.com/images/M/MV5BMTk2Nz...,"[{'Source': 'Internet Movie Database', 'Value'...",13,5.3,"3,086",tt0191074,16 Jul 2002,N/A,Sony Pictures Entertainment,http://www.newbestfriend-themovie.com
4781,6/20,Night at the Golden Eagle,3,4/26,"$7,380",41,Key.,3,"$17,643",2002,Night at the Golden Eagle,R,17 May 2002,87 min,Drama,Adam Rifkin,Adam Rifkin,"Donnie Montemarano, Vinny Argiro, Natasha Lyon...","After spending more seven years in prison, the...",English,USA,N/A,https://images-na.ssl-images-amazon.com/images...,"[{'Source': 'Internet Movie Database', 'Value'...",32,5.9,948,tt0250617,22 Apr 2003,N/A,Keystone,http://www.nightatthegoldeneagle.com
4782,-,Vulgar,2,4/26,"$9,377",42,Lions,2,"$15,927",2002,Vulgar,R,26 Apr 2002,87 min,"Crime, Drama, Thriller",Bryan Johnson,Bryan Johnson,"Brian O'Halloran, Bryan Johnson, Jerry Lewkowi...","A loser with a crummy apartment, an odious mot...",English,USA,N/A,https://m.media-amazon.com/images/M/MV5BMTU1Mj...,"[{'Source': 'Internet Movie Database', 'Value'...",5,5.3,"3,773",tt0120467,03 Sep 2002,N/A,Lions Gate Films,http://www.viewaskew.com/vulgar
4783,-,Lansdown,1,4/26,"$4,323",43,Outr.,1,"$12,614",2002,Lansdown,N/A,26 Apr 2002,80 min,"Thriller, Comedy",Tom Zuber,Tom Zuber,"Paul Shields, Jennifer Carlson, Chris Baran, D...","In the first scene of this dark comedy, defens...",English,USA,2 wins.,https://images-na.ssl-images-amazon.com/images...,"[{'Source': 'Internet Movie Database', 'Value'...",34,4.0,112,tt0255312,25 Mar 2003,N/A,Outrider Pictures,http://www.lansdown.net
4784,-,Caravaggio,1,4/16,$532,44,Zeit.,1,"$3,774",2002,Caravaggio,N/A,29 Aug 1986,93 min,"Biography, Drama, History, Romance",Derek Jarman,"Derek Jarman (screenplay), Nicholas Ward Jacks...","Nigel Terry, Sean Bean, Garry Cooper, Dexter F...",Fictionalized biopic of famed 17th century Ita...,"English, Italian",UK,3 wins & 1 nomination.,https://m.media-amazon.com/images/M/MV5BYTM3Y2...,"[{'Source': 'Internet Movie Database', 'Value'...",55,6.7,"4,611",tt0090798,24 Jun 2008,N/A,Cinevista,N/A
4785,-,Some Body,1,4/26,"$2,042",45,Lot47,1,"$2,042",2002,Some Body,N/A,19 Jan 2001,77 min,Drama,Henry Barrial,"Henry Barrial, Stephanie Bennett","Stephanie Bennett, Jeramy Guillory, Billy Ray ...",Samantha is a schoolteacher lost in the nether...,English,USA,1 nomination.,https://m.media-amazon.com/images/M/MV5BOTg1Mj...,"[{'Source': 'Internet Movie Database', 'Value'...",40,6.5,71,tt0274868,N/A,N/A,Lot 47 Films,http://www.lot47.com/somebody
4786,8/18,Spider-Man,3615,5/3,"$114,844,116",1,Sony,3876,"$403,706,375",2002,Spider-Man,PG-13,03 May 2002,121 min,"Action, Adventure, Sci-Fi",Sam Raimi,"Stan Lee (Marvel comic book), Steve Ditko (Mar...","Tobey Maguire, Willem Dafoe, Kirsten Dunst, Ja...","Based on Marvel Comics' superhero character, t...",English,USA,Nominated for 2 Oscars. Another 16 wins & 58 n...,https://m.media-amazon.com/images/M/MV5BZDEyN2...,"[{'Source': 'Internet Movie Database', 'Value'...",73,7.3,"632,874",tt0145487,01 Nov 2002,"$403,706,375",Columbia Pictures,http://spiderman.sonypictures.com/
4787,11/3,Star Wars: Episode II - Attack of the Clones,3161,5/16,"$80,027,814",2,Fox,3161,"$302,191,252",2002,Star Wars: Episode II - Attack of the Clones,PG,16 May 2002,142 min,"Action, Adventure, Fantasy, Sci-Fi",George Lucas,"George Lucas (screenplay by), Jonathan Hales (...","Ewan McGregor, Natalie Portman, Hayden Christe...","Ten years after the invasion of Naboo, the Gal...",English,USA,Nominated for 1 Oscar. Another 16 wins & 58 no...,https://m.media-amazon.com/images/M/MV5BMDAzM2...,"[{'Source': 'Internet Movie Database', 'Value'...",54,6.6,"568,796",tt0121765,12 Nov 2002,"$307,900,000",20th Century Fox,http://www.starwars.com/episode-ii/
4788,9/5,The Sum of All Fears,3183,5/31,"$31,178,526",3,Par.,3230,"$118,907,036",2002,The Sum of All Fears,PG-13,31 May 2002,124 min,"Action, Drama, Thriller, War",Phil Alden Robinson,"Tom Clancy (novel), Paul Attanasio (screenplay...","Ian Mongrain, Russell Bobbitt, James Cromwell,...","When the president of Russia suddenly dies, a ...","English, Russian, Ukrainian, German, Arabic","USA, Germany, Canada",2 wins & 4 nominations.,https://m.media-amazon.com/images/M/MV5BZmFiZD...,"[{'Source': 'Internet Movie Database', 'Value'...",45,6.4,"96,456",tt0164184,29 Oct 2002,"$118,471,320",Paramount Pictures,http://www.sumofallfearsmovie.com

In [3]:
actors_dfs = []
for page in range(1,4):
            one_df = pd.read_html(f"https://www.boxofficemojo.com/people/?view=Actor&pagenum={page}&sort=person&order=ASC&p=.htm", header=0)[2]
            one_df = one_df.rename(columns={ "Person(Click to view)": "Person", "# Movies / Average": "Number of Movies", 
                                        "# Movies / Average.1": "Average"})
            actors_dfs.append(one_df)
actors_df = pd.concat(actors_dfs)

In [4]:
actors_df = actors_df.reset_index(drop=True)
actors_df

,Person,Total Gross,Number of Movies,Average,#1 Picture,Gross
0,Amy Adams,"$2,402.9",30,$80.1,Batman v Superman,$330.4
1,Ben Affleck,"$2,517.8",39,$64.6,Batman v Superman,$330.4
2,Casey Affleck,$922.8,24,$38.4,Interstellar,$188.0
3,Dianna Agron,$132.2,5,$26.4,I Am Number Four,$55.1
4,Jessica Alba,$952.3,24,$39.7,Fantastic Four (2005),$154.7
5,Alan Alda,$753.0,22,$34.2,What Women Want,$182.8
6,Mahershala Ali,"$1,399.7",13,$107.7,Mockingjay Part 1,$337.1
7,Joan Allen,$854.5,25,$34.2,The Bourne Ultimatum,$227.5
8,Tim Allen,"$1,763.0",20,$88.1,Toy Story 3,$415.0
9,Woody Allen,$461.3,27,$17.1,Antz,$90.8
10,Mathieu Amalric,$300.7,13,$23.1,Quantum of Solace,$168.4
11,Gillian Anderson,$180.3,15,$12.0,X-Files,$83.9
12,Julie Andrews,$929.0,14,$66.4,Despicable Me 3,$264.6
13,Jennifer Aniston,"$1,627.1",32,$50.8,Bruce Almighty,$242.8
14,Aziz Ansari,$168.6,3,$56.2,Epic,$107.5
15,Christina Applegate,"$1,117.1",21,$53.2,Alvin and the Chipmunks 2,$219.6
16,Tom Arnold,$415.9,19,$21.9,True Lies,$146.3
17,Rosanna Arquette,$396.9,21,$18.9,Pulp Fiction,$107.9
18,Gemma Arterton,$517.4,14,$37.0,Quantum of Solace,$168.4
19,Kevin Bacon,"$1,519.2",48,$31.7,Apollo 13,$173.8
20,Penn Badgley,$134.6,6,$22.4,Easy A,$58.4
21,Alec Baldwin,"$2,708.0",56,$48.4,Mission: Impossible 6,$220.2
22,Christian Bale,"$2,293.9",39,$58.8,The Dark Knight,$535.2
23,Eric Bana,"$1,068.3",17,$62.8,Star Trek,$257.7
24,Anne Bancroft,$548.0,28,$19.6,The Graduate,$104.9
25,Antonio Banderas,"$2,386.4",43,$55.5,Shrek 2,$441.2
26,Elizabeth Banks,"$3,043.1",39,$78.0,Catching Fire,$424.7
27,Javier Bardem,$725.0,19,$38.2,Skyfall,$304.4
28,Ben Barnes,$287.7,5,$57.5,The Chronicles of Narnia: Prince Caspian,$141.6
29,Drew Barrymore,"$1,614.6",36,$44.9,E.T.,$435.1
...,...,...,...,...,...,...
840,Tom Wilkinson,"$1,208.4",46,$26.3,Rush Hour,$141.2
841,Michael K. Williams,$656.6,16,$41.0,The Incredible Hulk,$134.8
842,Michelle Williams,"$1,156.4",31,$37.3,Oz The Great and Powerful,$234.9
843,Robin Williams,"$3,279.3",50,$65.6,Night at the Museum,$250.9
844,Bruce Willis,"$3,335.0",62,$53.8,Sixth Sense,$293.5
845,Luke Wilson,$656.7,32,$20.5,Legally Blonde,$96.5
846,Owen Wilson,"$2,922.5",43,$68.0,Night at the Museum,$250.9
847,Patrick Wilson,"$1,118.4",21,$53.3,Aquaman,$335.1
848,Rebel Wilson,$620.8,9,$69.0,Pitch Perfect 2,$184.3
849,Oprah Winfrey,$745.4,9,$82.8,Bee Movie,$126.6
850,Kate Winslet,"$1,519.3",34,$44.7,Titanic,$659.4
851,Mary Elizabeth Winstead,$480.0,18,$26.7,Live Free or Die Hard,$134.5
852,Reese Witherspoon,"$1,652.3",33,$50.1,Sing,$270.4
853,Finn Wolfhard,$334.3,2,$167.1,It,$327.5
854,Ellen Wong,$31.5,1,$31.5,Scott Pilgrim vs. the World,$31.5
855,Elijah Wood,"$1,889.3",37,$51.1,Return of the King,$377.8
856,Shailene Woodley,$614.7,9,$68.3,Divergent,$150.9
857,Kenny Wormald,$64.4,4,$16.1,Footloose,$51.8
858,Sam Worthington,"$1,329.9",15,$88.7,Avatar,$760.5
859,Jeffrey Wright,"$2,006.7",27,$74.3,Catching Fire,$424.7
860,Letitia Wright,"$2,197.5",6,$366.2,Black Panther,$700.1
861,Robin Wright,$837.2,7,$119.6,Wonder Woman,$412.6
862,Anton Yelchin,"$1,090.5",22,$49.6,Star Trek,$257.7
863,Donnie Yen,$804.7,14,$57.5,Rogue One,$532.2
864,Michelle Yeoh,$806.1,13,$62.0,Crazy Rich Asians,$174.5
865,Steven Yeun,$58.7,3,$19.6,The Star,$40.9
866,Renee Zellweger,"$1,198.9",29,$41.3,Chicago,$170.7
867,Catherine Zeta-Jones,"$1,229.3",24,$51.2,Chicago,$170.7
868,Zhang Ziyi,$485.9,10,$48.6,Rush Hour 2,$226.2
869,Josh Zuckerman,$8.4,2,$4.2,Sex Drive,$8.4

In [5]:
for col in ['Total Gross','Gross', 'Average']:
    actors_df[col]= actors_df[col].replace({'\$': '',',': ''}, regex=True)
    actors_df[col]=[ float(x.replace('k', "")) * 1000 if 'k' in x else float(x)* 1000000  for x in actors_df[col] ]

actors_df

,Person,Total Gross,Number of Movies,Average,#1 Picture,Gross
0,Amy Adams,2.402900e+09,30,80100000.0,Batman v Superman,330400000.0
1,Ben Affleck,2.517800e+09,39,64600000.0,Batman v Superman,330400000.0
2,Casey Affleck,9.228000e+08,24,38400000.0,Interstellar,188000000.0
3,Dianna Agron,1.322000e+08,5,26400000.0,I Am Number Four,55100000.0
4,Jessica Alba,9.523000e+08,24,39700000.0,Fantastic Four (2005),154700000.0
5,Alan Alda,7.530000e+08,22,34200000.0,What Women Want,182800000.0
6,Mahershala Ali,1.399700e+09,13,107700000.0,Mockingjay Part 1,337100000.0
7,Joan Allen,8.545000e+08,25,34200000.0,The Bourne Ultimatum,227500000.0
8,Tim Allen,1.763000e+09,20,88100000.0,Toy Story 3,415000000.0
9,Woody Allen,4.613000e+08,27,17100000.0,Antz,90800000.0
10,Mathieu Amalric,3.007000e+08,13,23100000.0,Quantum of Solace,168400000.0
11,Gillian Anderson,1.803000e+08,15,12000000.0,X-Files,83900000.0
12,Julie Andrews,9.290000e+08,14,66400000.0,Despicable Me 3,264600000.0
13,Jennifer Aniston,1.627100e+09,32,50800000.0,Bruce Almighty,242800000.0
14,Aziz Ansari,1.686000e+08,3,56200000.0,Epic,107500000.0
15,Christina Applegate,1.117100e+09,21,53200000.0,Alvin and the Chipmunks 2,219600000.0
16,Tom Arnold,4.159000e+08,19,21900000.0,True Lies,146300000.0
17,Rosanna Arquette,3.969000e+08,21,18900000.0,Pulp Fiction,107900000.0
18,Gemma Arterton,5.174000e+08,14,37000000.0,Quantum of Solace,168400000.0
19,Kevin Bacon,1.519200e+09,48,31700000.0,Apollo 13,173800000.0
20,Penn Badgley,1.346000e+08,6,22400000.0,Easy A,58400000.0
21,Alec Baldwin,2.708000e+09,56,48400000.0,Mission: Impossible 6,220200000.0
22,Christian Bale,2.293900e+09,39,58800000.0,The Dark Knight,535200000.0
23,Eric Bana,1.068300e+09,17,62800000.0,Star Trek,257700000.0
24,Anne Bancroft,5.480000e+08,28,19600000.0,The Graduate,104900000.0
25,Antonio Banderas,2.386400e+09,43,55500000.0,Shrek 2,441200000.0
26,Elizabeth Banks,3.043100e+09,39,78000000.0,Catching Fire,424700000.0
27,Javier Bardem,7.250000e+08,19,38200000.0,Skyfall,304400000.0
28,Ben Barnes,2.877000e+08,5,57500000.0,The Chronicles of Narnia: Prince Caspian,141600000.0
29,Drew Barrymore,1.614600e+09,36,44900000.0,E.T.,435100000.0
...,...,...,...,...,...,...
840,Tom Wilkinson,1.208400e+09,46,26300000.0,Rush Hour,141200000.0
841,Michael K. Williams,6.566000e+08,16,41000000.0,The Incredible Hulk,134800000.0
842,Michelle Williams,1.156400e+09,31,37300000.0,Oz The Great and Powerful,234900000.0
843,Robin Williams,3.279300e+09,50,65600000.0,Night at the Museum,250900000.0
844,Bruce Willis,3.335000e+09,62,53800000.0,Sixth Sense,293500000.0
845,Luke Wilson,6.567000e+08,32,20500000.0,Legally Blonde,96500000.0
846,Owen Wilson,2.922500e+09,43,68000000.0,Night at the Museum,250900000.0
847,Patrick Wilson,1.118400e+09,21,53300000.0,Aquaman,335100000.0
848,Rebel Wilson,6.208000e+08,9,69000000.0,Pitch Perfect 2,184300000.0
849,Oprah Winfrey,7.454000e+08,9,82800000.0,Bee Movie,126600000.0
850,Kate Winslet,1.519300e+09,34,44700000.0,Titanic,659400000.0
851,Mary Elizabeth Winstead,4.800000e+08,18,26700000.0,Live Free or Die Hard,134500000.0
852,Reese Witherspoon,1.652300e+09,33,50100000.0,Sing,270400000.0
853,Finn Wolfhard,3.343000e+08,2,167100000.0,It,327500000.0
854,Ellen Wong,3.150000e+07,1,31500000.0,Scott Pilgrim vs. the World,31500000.0
855,Elijah Wood,1.889300e+09,37,51100000.0,Return of the King,377800000.0
856,Shailene Woodley,6.147000e+08,9,68300000.0,Divergent,150900000.0
857,Kenny Wormald,6.440000e+07,4,16100000.0,Footloose,51800000.0
858,Sam Worthington,1.329900e+09,15,88700000.0,Avatar,760500000.0
859,Jeffrey Wright,2.006700e+09,27,74300000.0,Catching Fire,424700000.0
860,Letitia Wright,2.197500e+09,6,366200000.0,Black Panther,700100000.0
861,Robin Wright,8.372000e+08,7,119600000.0,Wonder Woman,412600000.0
862,Anton Yelchin,1.090500e+09,22,49600000.0,Star Trek,257700000.0
863,Donnie Yen,8.047000e+08,14,57500000.0,Rogue One,532200000.0
864,Michelle Yeoh,8.061000e+08,13,62000000.0,Crazy Rich Asians,174500000.0
865,Steven Yeun,5.870000e+07,3,19600000.0,The Star,40900000.0
866,Renee Zellweger,1.198900e+09,29,41300000.0,Chicago,170700000.0
867,Catherine Zeta-Jones,1.229300e+09,24,51200000.0,Chicago,170700000.0
868,Zhang Ziyi,4.859000e+08,10,48600000.0,Rush Hour 2,226200000.0
869,Josh Zuckerman,8.400000e+06,2,4200000.0,Sex Drive,8400000.0

In [6]:
actors_df.dtypes

Person               object
Total Gross         float64
Number of Movies      int64
Average             float64
#1 Picture           object
Gross               float64
dtype: object

In [11]:
actors_df.to_csv("Actors_Data.csv", index=False)

In [95]:
movie_df.to_csv("Movies_Data_Updated.csv", index=False)